<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322229090960-g5pj8dc19t98fcgen9ecrom3o0t4geb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322229090960-g5pj8dc19t98fcgen9ecrom3o0t4geb7</string>
	<key>API_KEY</key>
	<string>AIzaSyCOKWwbyxrna0pGt1mPP8su2QAHhC8xwz0</string>
	<key>GCM_SENDER_ID</key>
	<string>322229090960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.squilliam9455.toastHouseRota</string>
	<key>PROJECT_ID</key>
	<string>toasthouserota-f486c</string>
	<key>STORAGE_BUCKET</key>
	<string>toasthouserota-f486c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:322229090960:ios:00753f365eb5d9448df615</string>
</dict>
</plist>
